# Visual Studio files
*.user
.vscode/
.vs/

# OS crap
.DS_Store
thumbs.db
ehthumbs.db
desktop.ini

# Dosbox-x
*.swp
*.SWP

# C / Borland
**/bin/
**/BIN/
obj/
*.bak
*.BAK
*.DSK
*.lst
*.LST
*.OBJ
*.LIB
log
